<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>VueJS</title>
</head>

<!-- 5用this讓現在時間跟填寫這個動作綁定有關聯 出現動作 -->

<body>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <div id="app">
        01台幣(TWD): <input type="text" v-model="TWD">
        <ul>
            <li>美金(USD):{{US}}</li>
            <li>日圓(JPY):{{JPY}}</li>
            <li>英鎊(GBP):{{GBP}}</li>
        </ul>
        <!-- 台幣(TWD): <input type="text" v-model="TWD"> 
        <ul>
            <li>美金(USD):{{TWD / 30.63}}</li>
            <li>日圓(JPY):{{TWD / 0.2787}}</li>
            <li>英鎊(GBP):{{TWD / 37.08}}</li>
        </ul> -->
        02現在時間:{{time}};

        03
        身高: <input type="text" v-model="hight">;
        體重: <input type="text" name="" v-model="width">;
        你的BMI值為: <span>{{calc}}</span>
        <!-- 用個div 或span來顯示辣 -->
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- <script src="js/vue.js"></script> -->
    <script>
        new Vue({
            el: '#app',
            data: {
                message: 'Hello, VueJS!',
                TWD: 0,


                hight:0,
                width:0,
            },
            methods: { //函數(方法)們
                DD103(member) {
                    console.log(`DD103 member: ${member}`);
                    console.log(this.message);
                    console.log(this.$el);
                },
                temp: function () {

                },
            },
            computed: { //計算屬性
                US:function(){
                    return (this.TWD / 30.63).toFixed(2);
                },
                JPY:function(){
                    return (this.TWD / 0.2787).toFixed(2);
                },
                GBP:function(){
                    return this.TWD / 37.08;
                    // return
                },


                calc:function(){
                    // return this.width/(this.hight/100)*(this.hight/100);
                    // return this.width/Math.pow(this.hight/100,2).toFixed(2);
                    BMI=  this.width/Math.pow(this.hight/100,2);
                    // return BMI.toFixed(2);
                    return Math.round(BMI*100)/100;

                },

                time:function(){
                    let temp = this.hight + this.width;

                    let date = new Date();
                    return date;
                },
            },
        });
    </script>
</body>

</html>